@font-face {
  font-family: "icomoon";
  src: url("icons/icomoon.eot?sg9gc6");
  src:
    url("icons/icomoon.eot?sg9gc6#iefix") format("embedded-opentype"),
    url("icons/icomoon.ttf?sg9gc6") format("truetype"),
    url("icons/icomoon.woff?sg9gc6") format("woff"),
    url("icons/icomoon.svg?sg9gc6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
  font-size: 100%;
  line-height: 1.5;
}

body {
  position: relative;
  margin: 0;
  font-family: Chivo, sans-serif;
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul,
.lead {
  margin-top: 0;
  margin-bottom: 1.5em;
}

h1,
h2,
h3 {
  font-family: Rubik;
}

h1 {
  font-size: 1.7em;
  line-height: 1.777;
  margin-bottom: 0.882em;
}

h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.3em;
  line-height: 1.15;
  margin-bottom: 1.15em;
}

figure img {
  display: block;
  width: calc(100% + 3em);
  margin: 0 -1.5em 1.5em;
  border: 15px solid #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(30, 30, 30, 0.35);
}

[class^="col-"] figure img {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

figcaption {
  font-size: 0.75em;
  line-height: 2;
  font-style: italic;
}

figcaption p {
  margin-bottom: 2em;
}

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero {
  margin-bottom: 0;
  font-size: 3em;
  color: #f5f5f5;
  text-transform: uppercase;
}

.section {
  color: #f5f5f5;
  background-color: #5e666e;
}

.section:nth-child(even) {
  color: #5e666e;
  background-color: #f5f5f5;
}

.claim {
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.2;
}

.claim .sub {
  font-weight: normal;
}

.tooltip-templates {
  display: none;
}

area {
  outline: none;
}

.tooltipster-box img {
  margin-bottom: 1.5em;
  width: 20em;
  display: block;
}

.tooltipster-box {
  background: #f5f5f5 !important;
  border: 2px solid #f5f5f5 !important;
}

.tooltipster-content {
  color: #5e666e !important;
}

.tooltipster-arrow-border {
  display: none !important;
}

.tooltipster-bottom .tooltipster-arrow-background {
  border-bottom-color: #f5f5f5 !important;
}

.tooltipster-top .tooltipster-arrow-background {
  border-top-color: #f5f5f5 !important;
}

.tooltipster-right .tooltipster-arrow-background {
  border-right-color: #f5f5f5 !important;
}

.tooltipster-left .tooltipster-arrow-background {
  border-left-color: #f5f5f5 !important;
}

.section-subdescription {
  display: block;
  font-size: 0.75em;
  line-height: 2;
}

#menu li {
  display: inline-block;
  margin: 0.75em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#menu .active {
  background-color: rgba(0, 0, 0, 0.5);
}

#menu a {
  text-decoration: none;
  color: #fff;
}

#menu .active a:hover {
  color: #000;
}

#menu a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#menu li a {
  display: block;
  padding: 0.75em 1em;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin: 0;
}

.fp-scroller {
  padding: 6em 8em;
}

.fp-controlArrow.fp-prev {
  border-color: transparent #aaa transparent transparent;
  padding-left: 40px;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #aaa;
  padding-right: 40px;
}

.slide {
  padding: 0;
}

.people-cards {
  padding: 0 100px !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #f5f5f5;
  border: 1px solid #5e666e;
  height: 8px;
  width: 8px;
  margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 16px;
  width: 16px;
  margin: -8px 0 0 -8px;
  border: 1px solid #f5f5f5;
  background: #5e666e;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border: 1px solid #5e666e;
}
